{% extends "home/home.html" %}

{% block content %}
{% include "home/menu.html" %}
<div class="col-md-9">
    <div class="panel panel-warning">
        <div class="panel-heading">
            <h3 class="panel-title"><span class="glyphicon glyphicon-map-marker"></span>&nbsp;已看过的电影</h3>
        </div>
        <div class="panel-body">
            <div class="col-md-12">
                <div class="media">
                    <div class="media-left">
                        <a href="play.html">
                            <img class="media-object" src="holder.js/131x83" alt="环太平洋">
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">环太平洋<a href="{{ url_for('home.play') }}" class="label label-primary pull-right"><span
                                class="glyphicon glyphicon-play-circle"></span>播放影片</a></h4>
                        该片主要讲述了人类为了抵抗怪兽的进攻，研制出了高大的机器战士与来犯怪兽进行对抗的故事。
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script>
    $(document).ready(function () {
        $("#m-6").addClass("active");
    });
</script>
{% endblock %}